name: Playground

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
  push:
    paths: ['.github/workflows/playground.yml', '**/*.yml']
  release:
    types:
      - published
      - released

permissions:
  checks: write

defaults:
  run:
    shell: bash

env:
  ABC: 123

jobs:
  playground:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/checkout@v5
        with:
          path: abc
      - run: ls -la
      - run: git status


