name: Playground

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
  push:
    paths: ['.github/workflows/playground.yml', '**/*.yml']
  release:
    types:
      - published
      - released

permissions:
  checks: write

defaults:
  run:
    shell: bash

env:
  ABC: 123

jobs:
  playground:
    runs-on: ubuntu-latest
    environment: ''

    container:
     image: debian:bookworm-slim
     volumes:
       - /home/runner/.docker:/github/home/.docker

    steps:
      - run: echo "$HOME"
      - run: ls $HOME
      - run: ls $HOME/.docker
      - run: cat ~/.docker/config.json
