name: Update Status History

on:
  workflow_dispatch:
  schedule:
    # “At minute 25 past every 8th hour.” - https://crontab.guru/#25_*/8_*_*_*
    - cron:  '25 */8 * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - owner: pl-strflt
            project_name: InterPlanetary Developer Experience
          - owner: ipfs
            project_name: Go IPFS Stewards (PL EngRes)
          - owner: ipfs
            project_name: JS IP Board (PL EngRes)
    env:
      GITHUB_TOKEN: ${{ secrets.GALARGH_GITHUB_TOKEN }}
    steps:
      - uses: galargh/projects-status-history@main
        with:
          owner: ${{ matrix.owner }}
          project_name: ${{ matrix.project_name }}
